.register-form .input-group > span {
    border: none;
    font-weight: bold;
    color: #700;
    margin-top: 5px;
    margin-bottom: -5px;
}
.register-form .input-group > input {
    width: 100% !important;
}

.register-form .input-group {
    flex-flow: wrap;
}