.alert-success {
    background-color: green !important;
}
.alert-error {
    background-color: #c70000 !important;
}
.alert-info {
    background-color: #dc8f00 !important;
}

.custom-alert svg{
    stroke: white !important;
}
.custom-alert {
    font-weight: bold !important;
}