.j-pro input {
    padding: 5px 10px !important;
    height: 38px !important;
}
.answer-item .icofont-ui-edit{
    margin-left: 10px;
}
@media only screen and (max-width: 480px) {
    .quiz-edit-card .card-block {
        border-bottom: 1px solid #b7b7b7;
    }
}
